
.container {
  display: block;
  height: 120px;
  padding: 0;
}

.topbar {
  display: inline-flex;
  width: 100%;
  height: 80px;
  background-color: var(--topbar-background);
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.topbarLinks {
  display: grid;
  grid-template-columns: 1fr 1.185fr 2fr;
  height: 80px;
  width: 90%;
  list-style: none;
  margin: 0;
  gap: 20px;
}

.topbarLinks li {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 80p;
}

.topAddresses {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topAddresses p {
  margin: 0;
  color: var(--text-color);
}

.topAddressLinks {
  display: flex;
  flex-direction: column;
}

.topLink {
  color: var(--text-color);
  text-decoration: none;
}

.topLink:hover {
  color: var(--theme-color);
}

.navbar,
.dropNavbar {
  width: 100%;
  height: 40px;
  background-color: var(--navbar-background);
  transition: 200ms;
  z-index: 10;
}

.navbarLinks,
.showNavbarLinks {
  display: grid;
  list-style: none;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 40px;
  justify-items: center;
}

.navbarLinks {
  grid-template-columns: repeat(3, 2fr) 1fr;
  max-width: 1500px;
  margin: auto;
}

.navbarLinks li {
  width: 100%;
  height: 40px;
}

.navLink {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbarLinks .navLink:hover {
  cursor: pointer;
  background-color: var(--theme-color);
  color: white;
}

.languages {
  display: inline-flex;
}

.dropdownbtn {
  display: none;
  border: none;
  background: none;
  color: var(--dark-gray);
}

.dropdownbtn:hover {
  opacity: .8;
}

.dropNavbar {
  height: 160px;
  position: relative;
  border-bottom: 2px solid var(--theme-color);
}

.showNavbarLinks {
  height: 120px;
  grid-template-rows: repeat(4, 1fr);
  width: 100vw;
  padding: 0;
}

.showNavbarLinks li {
  width: 100vw;
  padding: 0 80px;
}

.showNavbarLinks a:hover {
  background-color: var(--theme-color);
  color: white;
}

@media screen and (max-width: 920px) {
  .container {
    height: 80px;
  }

  .topbar {
    justify-content: space-between;
    border-bottom: 2px solid var(--theme-color);
  }

  .topbarLinks {
    display: none;
  }

  .navbar {
    height: 0px;
    background-color: var(--theme-color);
    transition: 200ms;
  }

  .navbarLinks {
    display: none;
    width: 100%;
  }
  
  .navLink:not(.languages .navLink) {
    border-bottom: 1px solid black;
    width: 100%;
  }

  .dropdownbtn {
    display: flex;
  }
}